@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-clr: #e63946;
  --primary-clr-2: #caf0f8;
  --secondary-clr: #f1faee;
  --grey-clr: #222;
  --max-width: 1100px;
  --fixed-width: 450px;
  --radius-1: 50%;
  --radius-2: 1rem;
  --radius-3: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: var(--primary-clr);
  color: var(--grey-clr);
  text-transform: capitalize;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  width: var(--fixed-width);
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: var(--secondary-clr);
  border-radius: var(--radius-3);
  box-shadow: var(--dark-shadow);
}
section .btn {
  width: 90%;
  margin-left: 1.5rem;
  background-color: #000;
}
.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.person:nth-child(even) {
  background-color: var(--primary-clr-2);
  border-radius: var(--radius-3);
}
.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}
.person h4 {
  margin-bottom: 0.35rem;
}
.person p {
  margin-bottom: 0;
}
